.info {
    font-size: 18px;
    position: relative;

    padding-left: 35px;

        &::before {
            content: "";

            position: absolute;
            left: 0px;
            top: 0px;
            width: 21px;
            height: 21px;

            background-repeat: no-repeat;
            background-image: url('./../img/map.svg');
        }

    &--map::before {
        background-image: url('./../img/map.svg');
    }

    &--tel::before {
        background-image: url('./../img/phone-call.svg');
    }

}